header {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../assets/min/header_pic.png"); */
    background: rgb(67, 67, 67);
    background: radial-gradient(circle, rgba(22, 22, 22, 0.65) 45%, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0) 100%), url("../assets/min/header_pic-min.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logoimg {
    max-width: 150px;
    transform: translate3d(0, -8px, 0);
}

img {
    object-fit: cover;
    object-position: center;
}

.btn {
    border-radius: 3px !important;
}

.w-card {
    width: 21rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.min-vh-header {
    min-height: 65vh;
}

.card.w-card img {
    object-fit: cover;
    object-position: center;
    height: 200px;
    width: auto;
}

.ul-bullets {
    list-style: disc !important;
}

img.img-sides {
    object-fit: cover;
    object-position: center;
    width: 400px;
    height: auto;
}


.gb {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjAgMzAiIGhlaWdodD0iNjAwIj4NCjxkZWZzPg0KPGNsaXBQYXRoIGlkPSJ0Ij4NCjxwYXRoIGQ9Im0zMCwxNWgzMHYxNXp2MTVoLTMwemgtMzB2LTE1enYtMTVoMzB6Ii8+DQo8L2NsaXBQYXRoPg0KPC9kZWZzPg0KPHBhdGggZmlsbD0iIzAwMjQ3ZCIgZD0ibTAsMHYzMGg2MHYtMzB6Ii8+DQo8cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iNiIgZD0ibTAsMGw2MCwzMG0wLTMwbC02MCwzMCIvPg0KPHBhdGggc3Ryb2tlPSIjY2YxNDJiIiBzdHJva2Utd2lkdGg9IjQiIGQ9Im0wLDBsNjAsMzBtMC0zMGwtNjAsMzAiIGNsaXAtcGF0aD0idXJsKCN0KSIvPg0KPHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEwIiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjxwYXRoIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI2IiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjwvc3ZnPg0K');
    width: 200%;
    height: 100%;
    background-size: 100% 100%;
}

.dk {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNzAgMjgwIj4NCjxwYXRoIGZpbGw9IiNkMDBjMzMiIGQ9Im0wLDBoMzcwdjI4MGgtMzcweiIvPg0KPGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjQwIj4NCjxwYXRoIGQ9Im0xNDAsMHYyODAiLz4NCjxwYXRoIGQ9Im0wLDE0MGgzNzAiLz4NCjwvZz4NCjwvc3ZnPg0K');
    width: 132.14285714286%;
    height: 100%;
    background-size: 100% 100%;
}